
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.navMenu{
  background-color: aqua;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active{
  text-decoration: none;
  color: rgb(243, 5, 5);
  border-bottom: 4px solid yellow;

}
.notActive{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
.HomePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.HomePage p{
  padding: 1rem;
}
.HomePage p::first-letter{
 font-size: 2rem;
}